PORT=5000
MONGO_URI=mongodb+srv://nguyentrongminhman95_db_user:1wwpMwmKwco460RI@cluster0.wo55e6f.mongodb.net/chat_app?appName=Cluster0
NODE_ENV=development
JWT_SECRET=sadweac
JWT_EXPIRES_IN=1d
COOKIE_EXPIRES_IN=1d
RESEND_API_KEY=re_R9AJsiWp_7xbdgMT6RX4aNydMozyveVoe
EMAIL_FORM="onboarding@resend.dev"
EMAIL_FORM_NAME="Chat App"
CLIENT_URL=http://localhost:5173
CLOUDINARY_CLOUD_NAME=dhycynw8g
CLOUDINARY_API_KEY=536639373591311
CLOUDINARY_API_SECRET=KFo83dRn0eNnVGEI3jFaoo5zjAE
# production